body{font-family: Verdana, sans-serif}

.page{
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

.header{
    color: #ffffff;
    background-color: #ffb515;
    font-size: 24px;
    height: 100px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 6px;
    text-shadow: 2px 1px 2px #000000;
}
.add_menu{
    background-color: burlywood;
    margin: 10px 0px 0px 0px;
    padding-top: 10px;
    border: 2px solid #000000;
    border-radius: 6px;
    font-size: 24px;
}

.select{
    margin-bottom: 5px;
    text-align: center;
}

.input{
    font-family: Arial;
    margin-bottom: 2px;
    width: 300px;
    height: 24px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.submit{
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.button{
    background-color: #ffb515;
    font-size: 24px;
    border-radius: 10px;
}

#content{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.block{
    margin-top: 10px;
    border: 2px solid #000000;
    border-radius: 6px;
}